<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.dao.ResultDao">
    <resultMap type="com.dh.bean.result.Result" id="Result">
        <result property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result property="series" column="series" />
        <result property="url" column="url" />
        <result property="data" column="data" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <insert id="insertResult" parameterType="com.dh.bean.result.Result">
        INSERT INTO tb_result(id, series, url, data, update_time)
        VALUES(#{id}, #{series}, #{url}, #{data}, #{updateTime})
    </insert>

    <select id="selectResultBySeries" resultMap="Result">
        SELECT * FROM tb_result
        WHERE series=#{series}
        ORDER BY update_time DESC
    </select>

    <select id="selectResultByUrl" resultMap="Result">
        SELECT * FROM tb_result
        WHERE url=#{url}
    </select>

    <update id="updateResult" parameterType="com.dh.bean.result.Result">
        UPDATE tb_result
        SET data=#{data},update_time=#{updateTime}
        WHERE series=#{series}
        AND url=#{url}
    </update>
</mapper>
